.root{
    font-family: Noto Sans, sans-serif;
    text-transform: none; 
}
.button{
    font-size: 17px;
    font-weight: 500;
}

.h5{
   color: black; 
}

.h6{
    color: black; 
 }

.body1{
    color: #666666;
}